
{% extends ajaxLogin is defined ? "ajaxmodal.html.twig" : "layout.html.twig"  %}
    
{% block title %}
            <h2>Connectez vous</h2>
        {% endblock %}
{% block content %}
    <div class="login-form">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />
        </div>
        {% if ajaxLogin is defined %}
            <input type="hidden" name="_target_path" value="{{ path('ajaxLoginSuccess') }}" />
        {% endif %}
        {#Fs (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
        <div>
            <button class="btn btn-primary btn-lg" type="submit">login</button>
        </div>
        <hr>
        <div class="alert alert-info" >
            ou <a href="/signin" >inscrivez vous</a>
        </div>
        
    </div>
{% endblock %}    
