

{% extends "layout.html.twig"  %}

{% block title %}
            Recuperation de mot de passe
        {% endblock %}
{% block content %}
  <form method="post" action="{{ path('resetPassword')}}">
    Email : <input type="text" name="email"><br>
    <input type="submit" class="btn btn-primary" value="Valider"></input>
  </form>
{% endblock %}
