

{% extends "layout.html.twig"  %}

{% block title %}
    Recuperation de mot de passe
{% endblock %}
{% block content %}
    <div class="form-wrapper">
        <div class="form-div">
            <h2>Réinitialisation du mot de passe</h2>
            <form method="post" action="{{ path('resetPassword')}}">
                Email : <input type="text" name="email"><br>
                <input type="submit" class="btn btn-primary" value="Valider"></input>
            </form>
        </div>
    </div>
{% endblock %}
