{{ form_errors(form) }} 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Naopedia{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="text-align: center">

      {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
          {{ form_widget(form) }}
      {{ form_end(form) }}

    </body>
</html>
