

{% extends ajaxLogin is defined ? "ajaxmodal.html.twig" : "layout.html.twig"  %}

{% block Modaltitle %}
    <h2>Inscrivez vous</h2>
{% endblock %}
{% block content %}
    <div class="container justify-content-center">
        <div class="form-wrapper">
            <div class="form-div">

                {% if ajaxLogin is not defined %}
                    <h2>Inscrivez vous</h2>
                {% endif %}
                {{ form_start(form, {attr: {class: 'form-wraper'} }) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <hr>
            <div class="alert alert-info" >
                Déjà un compte? <a href="/login" >Connectez vous</a>
            </div>
        </div>
    </div>
{% endblock %}
