
###> symfony/framework-bundle ###
.env
/public/bundles/
/public/images/uploads/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

/sas/