{% extends '@EasyAdmin/default/layout.html.twig' %}

{% block header_logo %}
    <a href="{{ path('homepage') }}" class="logo logo-long">
        <img src="{{ asset("images/naopedia-long.svg") }}" alt="">
    </a>
{% endblock header_logo %}