
<h3>Félicitation, Votre observation de l'oiseau {{observation.bird.name}} a été validé</h3>
<p>Observation réalisée le  : {{ observation.date || date }}

{# example, assuming you have a route named "login" #}
Pour vous connecter, rendez vous sur :  <a href="{{ url('login') }}">...</a>.

Merci, à bientot !
