
<h3>Félicitation, vous êtes maintenant inscrit sur <strong>Naopedia</strong></h3>

{{ user.username }}, vous pouvez maintenant vous amuser.

{# example, assuming you have a route named "login" #}
Pour vous connecter, rendez vous sur :  <a href="{{ url('login') }}">...</a>.

Merci ! 
