<div class="ajax-modal">
    <div class="modal-header">
        {% block Modaltitle %}{% endblock %}
    </div>
    <div class="modal-body">
        {% block content %}{% endblock %}
    </div>
</div>
