<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Naopedia{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="text-align: center">
        <img style="max-width:300px;width:100%" src="{{ asset("images/blue.png") }}" alt=""><br>
        {% block body %}Bienvenue sur Naopedia<br>Site en construction{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
