{% extends "layout.html.twig" %}

{% block content %}

                <h2>Entrer une observation </h2>

                {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}

{% endblock %}

{% block javascript %}
{{ parent() }}
<script>
$(function(){
    $('.birdSearch').birdSearch(function(res){
        $('.birdId').val(res.birdId);
        $(this).val(res.birdName +' ' +  res.birdLatinName);
    })

})

</script>

{% endblock %}