{% extends "layout.html.twig" %}

{% block content %}

                <h2>Entrer une observation </h2>

                {{ form_start(form, {attr: {class: 'my-form-class'} }) }}
                    {{ form_widget(form) }}
                {{ form_end(form) }}

{% endblock %}
