{% extends "layout.html.twig" %}



{% block content %}
    <div class="container" style="text-align: center; margin: 80px auto;">
        <div>
            <img src="{{ asset("images/NAOlogobleu.svg") }}" alt="">
        </div>
        <h1>La page n'a pas été trouvée</h1>
        <a href="{{ path("homepage") }}" class="btn btn-danger btn-block">Retour à l'acceuil</a>
    </div>
{% endblock %}

